# Node.js dependencies
node_modules/
package-lock.json

# Compiled TypeScript files
dist/
build/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database files
*.sqlite
*.sqlite-journal
pgdata/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Cache y temporales
.cache/
temp/
tmp/